<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue slider</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
    <link rel="stylesheet" href="./style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
    <div id="root">
        <div class="container d-flex align-items-center">
            <div class="row d-flex">
                <div class="col-2 justify-content-center d-flex align-items-center">
                    <i class="fas fa-arrow-left fa-4x pointer" @click="decreaseImageIndex"></i>
                </div>
                <div class="col-8 d-flex ">
                    <figure class="d-flex align-items-center position-relative">
                        <img v-for="(url, index) in images" :class="showIfActive(index)" :class=":myFunzione" :src="url"
                            alt="landscape-image" class="img-fluid display-none">
                    </figure>
                    <div class="dot-navigator position-absolute">
                        <div v-for="(dot, index) in images" @click="myDots(index)" :class="showIfActive(index)"
                            class="dot pointer"></div>
                    </div>
                </div>
                <div class="col-2 justify-content-center d-flex align-items-center">
                    <i class="fas fa-arrow-right fa-4x pointer" @click="increaseImageIndex"></i>
                </div>
                <div id="sliding-buttons" class="position-relative">
                    <button @click="startAutoSliding">Start auto-sliding</button>
                    <button @click="stopAutoSliding">Stop auto-sliding</button>
                </div>
            </div>
        </div>
    </div>

    <script src="./script.js"></script>
</body>

</html>