/*= GENERALS */ 
.display-none{
    display: none;
}

.pointer{
    cursor: pointer;
}
/*? ACTIVE STATUS */
img.active{
    display: inline-block;
    opacity: 1;
    animation: vanish 6s linear;
}

@keyframes vanish {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0.4;
    }
    20%{
        opacity: 0.8;
    }
    30%{
        opacity:1
    }
}

div.dot.active{
    background-color: #1e90ff;
}

/*= BODY */ 
div.container:first-of-type{
    height: 100vh;
}

div.dot-navigator{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 20px;

    bottom: 25px;
    left: 50%;
    transform: translatex(-50%);
}

#sliding-buttons{
    left: 50%;
    transform: translatex(-50%);

}

div.dot{
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    margin: 0 5px;

}